<div class="container mb-5 mt-5">

  <div class="row mb-5">
    <div class="cal-md-12">
      <h1 class="text-center text-dark">Apagar Tema</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-danger">ATENÇÃO</h2>
      <h4 class="text-center text-dark">Você tem certeza que deseja apagar esse tema? Todas as postagens relacionadas a ele serão igualmente apagadas</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-3">
      <h5 class="text-center text-info">Tema: {{tema.descricao}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-3">
      <button class="btn btn-info mr-3" routerLink="/tema" >Não</button>
      <button class="btn btn-danger" (click)="apagar()">Sim</button>
    </div>
  </div>
</div>

