<div class="container mb-5 mt-5 d-flex justify-content-center">

  <div class="row">

    <div class="col-md-12">

      <h1 class="text-center text-dark">Atualizar meu usuário</h1>

      <div class="row d-flex justify-content-center">
        <div class="col-md-12 ">

            <div class="form-group">
                <label for="nome">Nome</label>
                <input [(ngModel)]="user.nome" class="form-control" type="text" name="nome" id="nome" placeholder="Maria Souza">
            </div>

            <div class="form-group">
                <label for="Usuário">Usuário</label>
                <input [(ngModel)]="user.usuario" class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuário">
            </div>

            <div class="form-group">
                <label for="linkDaFoto">Link da Foto</label>
                <input [(ngModel)]="user.foto" class="form-control" type="text" name="linkDaFoto" id="linkDaFoto"
                    placeholder="Insira o link da sua foto">
            </div>

            <div class="form-group">
                <label for="senha">Senha</label>
                <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
            </div>

            <div class="form-group">
                <label for="confirmaSenha">Confirmar Senha</label>
                <input [(ngModel)]="user.senha" class="form-control" type="password" name="confirmaSenha" id="confirmaSenha"
                    placeholder="Por favor, confirme a senha">
            </div>

            <div class="form-group">
                <label for="tipo">Tipo de usuário</label>
                <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                    <option>Selecione um tipo de usuário:</option>
                    <option value="normal">Normal</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn b-Cancel  mr-4" routerLink="/home">Cancelar</button>
                <button type="submit" class="btn b-Cadas" (click)="atualizar()">Atualizar</button>
            </div>
        </div>
    </div>

    </div>



  </div>

</div>
