#img-bg{
    background-image: url("https://i.imgur.com/7DvwAhY.png");

    min-height: 800px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnEnter{

   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 60px;
    height: 30px;
    background: transparent;
    border-color: #009efa;
    border-radius: 6pt;
    transition-duration: 300ms;
}

.btnEnter:hover{
    transition-duration: 300ms;
    background-color:#009efa;
    border-color: rgb(2, 108, 179);
    color: white;
}

.loginBox{
  background-color: rgb(255, 255, 255);
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-radius: 8%;
}
