<footer class="page-footer font-small bg-cor pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <ul class="social-network">
                <li>
                    <a href="https://github.com/fabiolimadiogenes" target="_blank" class="ico-git"><i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/fabiolimadiogenes/" target="_blank" class="ico-linke"><i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <div class="copyright footer-copyright text-center py-3">
        <span class="text-light">© 2021 Copyright </span>
    </div>
</footer>
