ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    transition-duration: 200ms;
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa:hover{
    transition-duration: 200ms;
    color: rgb(0, 195, 255);
}

.copyright{
    background-color: rgb(85, 85, 85);
}

