#img-bg{
    background-image: url("https://i.imgur.com/QM10oTw.png");
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-Cancel{
  background: transparent;
  border-color: #fa0000;
  border-radius: 6pt;
  transition-duration: 300ms;
}

.b-Cancel:hover{
  transition-duration: 300ms;
  background-color:#a50808;
  border-color: rgb(51, 6, 6);
  color: white;
}

.b-Cadas{
  background: transparent;
  border-color: #009efa;
  border-radius: 6pt;
  transition-duration: 300ms;
}

.b-Cadas:hover{

  transition-duration: 300ms;
  background-color:#009efa;
  border-color: rgb(2, 108, 179);
  color: white;
}

.cadastroBox{
  background-color: rgb(255, 255, 255);
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-radius: 8%;
}
